        <header id="header" class="clearfix" role="banner">

            <hgroup>
                <h1 id="site-title"><a href="index.html">Agregator</a></h1>
                <h2 id="site-description">This is an awesome description of the site!</h2>
            </hgroup>

        </header> 