    <nav id="menu" class="clearfix" role="navigation">
        <ul> 
            <li class="current"><a href="index.html">Home</a></li>
            <li>
                <a href="about.html">About</a>
                <ul>
                    <li><a href="#">Subpage</a></li>
                    <li><a href="#">Subpage 2</a></li>
                </ul>
            </li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav> 