    
    <aside class="widget">
        <h3>Categorii</h3>

        <ul>
            {% for categorie in categorii %}
                <li>
                    <a href="{{ path('show_categorie', { 'slug': categorie.getSlug }) }}">
                        {{ categorie.getNume }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </aside> <!-- .widget -->

    <aside class="widget">
        <!-- Non working search -->
        <form action="#" class="searchform">
            <input type="search" results="10" placeholder="Search..." />
            <input type="submit" value="Search" />
        </form> <!-- .searchform -->
    </aside> <!-- .widget -->

    <aside class="widget">
        <h3>Widget</h3>

        <p>
            Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.
        </p>
        <p>
            One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. 
        </p>
    </aside> <!-- .widget -->
    